.hidden {
    display: none;
}

.size2 {
    display: block;
}

header {
    height: 90px;
    border-bottom: 1px solid black;
}

header > p {
    font-size: 25px;
}

header > a {
    text-decoration: none;
    margin-left: 1175px;
}



.gallery_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 25px;
    
}

.gallery_grid > div {
    border: 1px solid black;
    height: 140px;
    width: 250px;
    margin-top: 50px;
    
}


form {
    margin-top: 20px;
}


#sku {
    margin-bottom: 20px;
}

#name {
    margin-bottom: 20px;
}

#price {
    margin-bottom: 20px;
}

#productType {
    margin-bottom: 20px;
}

#dvd {
    border: 1px solid black;
}